*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(16px, 4vw, 20px);
    text-decoration: none;
    list-style: none;
}

footer a{
    color: #DFE0E2;
}

footer a:hover{
    color: #bfc0c3;
}

body{
    color: #DFE0E2;
    background-color: #071013;
}

h1{
    text-align: center;
    margin: 2%;
}

.card{
    border-color: #071013;
    color: #071013;
    width: 50%; 
    background-color: #DFE0E2;
}

.videoSlayer{
    height: 270px;
}

footer{
    padding: 2%;
}